.menu_container {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding-top: 80px;
  margin: 20px;
}

.menu_container h1 {
  font-size: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100wv;
  padding-top: 50px;
  margin: 10px;
}

.logo {
  padding-right: 100px;
  width: 100px;
  height: 50px;
}

.logo img {
  width: 100px;
  height: 50px;
}

.login {
  padding-left: 100px;
}
